.vs/build/
vcpkg_installed/
.vscode/
*.exe
*.obj
*.pdb
*.log
config.json
.vs/
build/
CMakeSettings.json
.env
build-ninja/
build-release/
frontend/server-error.txt
server-log.txt

src_backup_api_versioning/
src/main_backup_before_migration.cpp
frontend/index_backup.html
build-asan/
build-clang-tidy/
/where